@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'), 
         url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}	
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?2ok9g');
    src:  url('../fonts/icomoon.eot?2ok9g#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?2ok9g') format('truetype'),
      url('../fonts/icomoon.woff?2ok9g') format('woff'),
      url('../fonts/icomoon.svg?2ok9g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-search:before {
    content: "\f002";
  }
  .icon-envelope-o:before {
    content: "\f003";
  }
  .icon-user:before {
    content: "\f007";
  }
  .icon-th-large:before {
    content: "\f009";
  }
  .icon-th-list:before {
    content: "\f00b";
  }
  .icon-repeat:before {
    content: "\f01e";
  }
  .icon-rotate-right:before {
    content: "\f01e";
  }
  .icon-lock:before {
    content: "\f023";
  }
  .icon-map-marker:before {
    content: "\f041";
  }
  .icon-gift:before {
    content: "\f06b";
  }
  .icon-random:before {
    content: "\f074";
  }
  .icon-chevron-up:before {
    content: "\f077";
  }
  .icon-chevron-down:before {
    content: "\f078";
  }
  .icon-shopping-cart:before {
    content: "\f07a";
  }
  .icon-twitter-square:before {
    content: "\f081";
  }
  .icon-heart-o:before {
    content: "\f08a";
  }
  .icon-phone:before {
    content: "\f095";
  }
  .icon-group:before {
    content: "\f0c0";
  }
  .icon-users:before {
    content: "\f0c0";
  }
  .icon-chain:before {
    content: "\f0c1";
  }
  .icon-link:before {
    content: "\f0c1";
  }
  .icon-floppy-o:before {
    content: "\f0c7";
  }
  .icon-save:before {
    content: "\f0c7";
  }
  .icon-caret-down:before {
    content: "\f0d7";
  }
  .icon-caret-up:before {
    content: "\f0d8";
  }
  .icon-sort:before {
    content: "\f0dc";
  }
  .icon-unsorted:before {
    content: "\f0dc";
  }
  .icon-sort-desc:before {
    content: "\f0dd";
  }
  .icon-sort-down:before {
    content: "\f0dd";
  }
  .icon-sort-asc:before {
    content: "\f0de";
  }
  .icon-sort-up:before {
    content: "\f0de";
  }
  .icon-bolt:before {
    content: "\f0e7";
  }
  .icon-flash:before {
    content: "\f0e7";
  }
  .icon-bell:before {
    content: "\f0f3";
  }
  .icon-angle-left:before {
    content: "\f104";
  }
  .icon-angle-right:before {
    content: "\f105";
  }
  .icon-angle-up:before {
    content: "\f106";
  }
  .icon-angle-down:before {
    content: "\f107";
  }
  .icon-location-arrow:before {
    content: "\f124";
  }
  .icon-html5:before {
    content: "\f13b";
  }
  .icon-css3:before {
    content: "\f13c";
  }
  .icon-file:before {
    content: "\f15b";
  }
  .icon-file-text:before {
    content: "\f15c";
  }
  .icon-sort-amount-asc:before {
    content: "\f160";
  }
  .icon-sort-amount-desc:before {
    content: "\f161";
  }
  .icon-map-o:before {
    content: "\f278";
  }