@import "vars";
@import "global";
@import "fonts";

/* ------------------start header------------------ */
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}
.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.header__btn-login {
    background-color: $green;
}
.header__btn-register {
    background-color: $red;
    margin-left: 7px;
}

.header__menu {
    background-color: $bg;
}
.menu {
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
    }
}

/* ------------------end header------------------ */
/* ------------------start search------------------ */
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
    &.page-search {
        min-height: 230px;
        .search__inner {
            padding: 55px 0px 70px;
            &-text {
                border-bottom: 20px;
            }
        }
    }
}
.search__inner {
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title {
        margin-bottom: 10px;
        font-size: 48px;
        line-height: 72px;
        @include f700;
    }
    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 30px;
        @include f500;
    }
    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding: 0px 60px 0px 25px;
            &::placeholder {
                color: #90a4ae;
            }
        }
        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 17px;
            top: 17px;
        }
    }
}
/* ------------------end search------------------ */

/* ------------------start product---------------------- */
.product {
    padding: 110px 0px;
    background-color: $grey;
}
.product__title {
    margin-bottom: 30px;
}
.product__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
    }
    & + button {
        margin-left: 5px;
    }
    & .mixitup-control-active {
        background-color: $red;
        color: #fff;
    }
    /*   button:hover {
        background-color: #e74c3c;
        color: #fff;
        transition: 0.3s;
    }  */
}
.product__inner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        background-size: cover;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name {
        max-width: 310px;
    }
    &-title {
        color: $bg;
        @include f500;
        font-size: 18px;
        display: block;
    }
    &-category {
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price {
        font-size: 20px;
        @include f700;
        color: $bg;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author {
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar {
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span {
            font-size: 14px;
            @include f500;
        }
    }
    &-star {
        font-size: 12px;
        span {
            color: $bg;
        }
    }
}
.product__bottom-btn {
    text-align: center;
    button {
        margin: 45px 5px 0px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}
/* ------------------end product------------------ */

/* ------------------start product-slider--------------- */
.product-slider {
    padding: 110px 0px 120px;
    .slick-dots {
        text-align: center;
        margin-top: 50px;
        li {
            display: inline-block;
            margin: 0 3px;
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

/* ------------------end product-slider----------------- */
/* ------------------start advantage-------------------- */
.advantage {
    background-color: $bg;
    padding: 110px 0px;
    &__title {
        color: #fff;
        margin-bottom: 40px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 370px;
        text-align: center;
        padding: 0px 15px;
        &:hover {
            .advantage__item-image {
                background-color: $green;
            }
            .advantage__item-title {
                color: $green;
            }
            .advantage__item-image {
                g {
                    fill: #fff;
                }
            }
        }
        &-image {
            width: 114px;
            height: 114px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 30px;
            transition: all 0.3s;
        }
        &-title {
            margin-bottom: 25px;
            font-size: 24px;
            color: #fff;
            @include f500;
            transition: all 0.3s;
        }
        &-text {
            font-size: 15px;
        }
    }
}
.icosvg-1 {
    svg {
        width: 50px;
    }
}
.icosvg-2 {
    svg {
        width: 70px;
    }
}
.icosvg-3 {
    svg {
        width: 86px;
    }
}
/* ------------------end advantage---------------------- */

/* ------------------start author------------------------ */

.author {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box {
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }
    &__title {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 265px;
        span {
            @include f700;
        }
    }
    &__link {
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        color: #263238;
        background-color: #fff;
    }
}
/* ------------------end author-------------------------- */
/* ------------------start tutorial---------------------- */
.tutorial {
    padding: 60px 0px 120px;
    &__title {
        margin-bottom: 57px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 370px;
        width: 100%;
        &-image {
            min-height: 270px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &-title {
            font-size: 24px;
            text-align: center;
            color: #263238;
            @include f700;
            background-color: #f8f8f8;
            padding: 30px 10px;
        }
    }
}
/* ------------------end tutorial-------------------------*/
/* ------------------start footer-------------------------*/
.footer {
    background-color: $bg;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 80px;
    }
}
.footer__copy {
    border: 1px solid #424d53;
    min-height: 73px;
    padding: 25px 0;
}
.footer__copy-text {
    text-align: center;
    font-size: 15px;
    color: #919699;
}
.footer__col {
    max-width: 270px;
    width: 100%;
    &-menu {
        max-width: 220px;
    }
    &-title {
        font-size: 22px;
        font-family: "Raleway", sans-serif;
        color: #fff;
        font-weight: 700;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 52px;
            height: 3px;
            background-color: $green;
        }
    }
    &-text {
        color: #b7c3c8;
    }
}
.footer__info {
    margin-top: 18px;
    color: #fff;
    @include f700;
    padding-left: 30px;
    position: relative;
    &::before {
        font-family: "icomoon";
        content: "\f041";
        font-size: 18px;
        color: $green;
        position: absolute;
        left: 0;
    }
}
.footer__info-phone::before {
    content: "\f095";
}
.fooler__col-list {
    a {
        margin-bottom: 13px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;
        &::before {
            font-family: "icomoon";
            content: "\f105";
            font-size: 18px;
            color: $green;
            position: absolute;
            left: 0;
        }
    }
}
.footer__social-link {
    margin-bottom: 33px;
    li {
        display: inline-block;
        & + li {
            margin-left: 7px;
        }
    }
    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/social/css_sprites.png);
    }
}

.link-twitter {
    background-position: -28px 0px;
}
.link-youtube {
    background-position: 0px -28px;
}
.link-pinterest {
    background-position: -28px -28px;
}
.link-linkedin {
    background-position: -56px -0;
}

.footer__form-title {
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
}
.footer__form {
    position: relative;
    input {
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 40px;
        color: #fff;
        font-size: 14px;
        padding: 0px 50px 0px 13px;
        &::placeholder {
            color: #697378;
        }
    }
    button {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;
        &::before {
            font-family: "icomoon";
            content: "\f124";
            position: absolute;
            color: #fff;
            font-size: 20px;
            top: 11px;
            left: 13px;
        }
    }
}

/* ------------------end footer---------------------------*/
/* ------------------start product-page-------------------*/
.product-page__inner {
    display: flex;
    padding-bottom: 110px;
}
.product-page__aside {
    margin-right: 30px;
}
.aside__item {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 32px 32px;
    margin-bottom: 30px;
    width: 270px;
}
.aside__title {
    border-bottom: 1px solid #dde3e8;
    font-size: 20px;
    color: $bg;
    padding: 22px 0px 19px;
    @include f700;
}
.category__list {
    padding-top: 10px;
    li {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;
        &::before {
            color: #8bc34a;
            position: absolute;
            left: 0;
            font-size: 18px;
            content: "\f105";
            font-family: "icomoon";
        }
    }
    a {
        color: $bg;
    }
    span {
        color: #90a4ae;
        margin-left: 1px;
    }
}
.price-range {
    form {
        padding: 20px 0px 25px;
    }
    button {
        margin-top: 55px;
        padding: 16px 10px;
        background-color: $green;
        text-align: center;
        color: #fff;
        @include f500;
        width: 100%;
        display: block;
        border: none;
        cursor: pointer;
        position: relative;
        &::before {
            color: #fff;
            position: absolute;
            left: 55px;
            top: 13px;
            font-size: 15px;
            content: "\f002";
            font-family: "icomoon";
        }
    }
}
.irs-min,
.irs-max {
    display: none;
}
.irs--flat .irs-line {
    background-color: #f2f5f8;
    height: 5px;
}
.irs--flat .irs-bar {
    background-color: $bg;
    height: 5px;
}

.irs--flat .irs-handle {
    top: 20px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    border: 4px solid $green;
}
.irs--flat .irs-handle > i:first-child {
    display: none;
    top: -2px;
    left: 50%;
}
.irs-from,
.irs-single,
.irs-to {
    top: 45px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
    display: none;
}
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    font-size: 15px;
    color: #78909c;
    background-color: #fff;
}
.product-page__aside {
    .product__item-img {
        min-height: 120px;
    }
    .product__item {
        box-shadow: none;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dde3e8;
    }
    .product__item-content {
        padding: 0;
        min-height: 75px;
        border-bottom: none;
    }
    .product__item-info {
        padding: 0;
        min-height: 0px;
    }
    .product__item-title {
        font-size: 16px;
    }
    .product__item-price {
        font-size: 16px;
    }
    .product__item-starnum {
        display: none;
    }
    .rate-star {
        margin-right: 0;
    }
    .product__item-author .avatar {
        margin-right: 9px;
    }
    .jq-ry-container {
        padding: 0;
    }
}
.aside__product-item {
    .product__item:last-child {
        border: none;
        padding-bottom: none;
    }
    .product__item:first-child {
        margin-top: 25px;
    }
}
.top-sellers__link {
    padding: 16px 10px;
    display: block;
    color: #fff;
    background-color: $green;
    @include f500;
    text-align: center;
}
.product-page__filter {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 20px;
    margin-bottom: 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #90a4ae;
        &.active {
            color: $green;
        }
    }
}
.product-page__filter-sort {
    color: #707070;
    font-size: 14px;
    display: flex;
    align-items: center;
}
button.icon-sort-amount-desc {
    font-size: 18px;
    color: #455a64;
}
button.icon-unsorted {
    font-size: 14px;
    color: #707070;
}
.product-page__content {
    width: 100%;
    .product__item {
        max-width: 270px;
        background-color: #fff;
    }
    .product__item-img {
        min-height: 180px;
    }
    .product__item-content {
        padding: 10px 20px;
    }
    .product__item-title {
        font-size: 16px;
    }
    .product__item-info {
        min-height: 65px;
        padding: 10px 20px;
    }
    .rate-star {
        margin-right: 5px;
    }
    .jg-ry-container {
        padding: 0;
    }
}
.product-page__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.pagination {
}
.pagination__list {
    li {
        display: inline-block;
    }
    & + li {
        margin-left: 6px;
        
    }
    a,
    span {
        box-shadow: 0px 1px 2px 0px rgba(205,214,222, 0.75);
        width: 43px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        font-size: 16px;
        color: $bg;
        @include f500;
        &.active{
            background-color: $red;
            color: #fff;
        }
    }
}

/* ------------------end product-page---------------------*/
