html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

.hello{
    font-family : Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    background-color: #aa00ff;
    color: #fff;
}
p{
    background-color: green;
    
}
