@import "vars";
@import "global";
@import "fonts";

/* ------------------start header------------------ */
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}
.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.header__btn-login {
    background-color: $green;
}
.header__btn-register {
    background-color: $red;
    margin-left: 7px;
}

.header__menu {
    background-color: $bg;
}
.menu {
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
    }
}

/* ------------------end header------------------ */
/* ------------------start search------------------ */
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}
.search__inner {
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title {
        margin-bottom: 10px;
        font-size: 48px;
        line-height: 72px;
        @include f700;
    }
    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 30px;
        @include f500;
    }
    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding: 0px 60px 0px 25px;
            &::placeholder {
                color: #90a4ae;
            }
        }
        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 17px;
            top: 17px;
        }
    }
}
/* ------------------end search------------------ */

/* ------------------start product---------------------- */
.product {
    padding: 110px 0px;
    background-color: $grey;
}
.product__title {
    margin-bottom: 30px;
}
.product__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
    }
    & + button {
        margin-left: 5px;
    }
    & .mixitup-control-active {
        background-color: $red;
        color: #fff;
    }
    /*   button:hover {
        background-color: #e74c3c;
        color: #fff;
        transition: 0.3s;
    }  */
}
.product__inner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        background-size: cover;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name {
        max-width: 310px;
    }
    &-title {
        color: $bg;
        @include f500;
        font-size: 18px;
        display: block;
    }
    &-category {
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price {
        font-size: 20px;
        @include f700;
        color: $bg;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-autor {
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span {
            font-size: 14px;
            @include f500;
        }
    }
    &-star {
        font-size: 12px;
        span {
            color: $bg;
        }
    }
}
.product__bottom-btn {
    text-align: center;
    button {
        margin: 45px 5px 0px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}
/* ------------------end product------------------ */

/* ------------------start product-slider--------------- */
.product-slider {
    padding: 110px 0px 120px;
    .slick-dots {
        text-align: center;
        margin-top: 50px;
        li {
            display: inline-block;
            margin: 0 3px;
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

/* ------------------end product-slider----------------- */
/* ------------------start advantage-------------------- */
.advantage {
    background-color: $bg;
    padding: 110px 0px;
    &__title {
        color: #fff;
        margin-bottom: 40px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 370px;
        text-align: center;
        padding: 0px 15px;
        &:hover {
            .advantage__item-image {
                background-color: $green;
            }
            .advantage__item-title {
                color: $green;
            }
            .advantage__item-image {
                g {
                    fill: #fff;
                }
            }
        }
        &-image {
            width: 114px;
            height: 114px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 30px;
            transition: all 0.3s;
        }
        &-title {
            margin-bottom: 25px;
            font-size: 24px;
            color: #fff;
            @include f500;
            transition: all 0.3s;
        }
        &-text {
            font-size: 15px;
        }
    }
}
.icosvg-1 {
    svg {
        width: 50px;
    }
}
.icosvg-2 {
    svg {
        width: 70px;
    }
}
.icosvg-3 {
    svg {
        width: 86px;
    }
}
/* ------------------end advantage---------------------- */

/* ------------------start author------------------------ */

.author {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box {
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }
    &__title {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 265px;
        span {
            @include f700;
        }
    }
    &__link {
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        color: #263238;
        background-color: #fff;
    }
}
/* ------------------end author-------------------------- */
/* ------------------start tutorial---------------------- */
.tutorial {
    padding: 60px 0px 120px;
    &__title{
        margin-bottom: 57px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 370px;
        width: 100%;
        &-image {
            min-height: 270px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &-title {
            font-size: 24px;
            text-align: center;
            color: #263238;
            @include f700;
            background-color: #F8F8F8;
            padding: 30px 10px;
        }
      
    }
}
/* ------------------end tutorial-------------------------*/
/* ------------------start footer-------------------------*/


/* ------------------end footer---------------------------*/
